<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
<add key="gitlabpackages" value="https://gitlab.mipl.dev/api/v4/projects/13/packages/nuget/index.json" />
</packageSources>
<packageSourceCredentials>
<gitlabpackages>
<add key="Username" value="%NUGET_USER%" />
<add key="ClearTextPassword" value="%NUGET_PASSWORD%" />
</gitlabpackages>
</packageSourceCredentials>
</configuration>