<nav class="navbar navbar-expand-lg fixed-top transition-all"
    [ngClass]="isScrolled() ? 'navbar-glass shadow-sm py-2' : 'bg-transparent py-4'">
    <div class="container">

        <a class="navbar-brand fw-bolder fs-3" routerLink="/">
            <span class="brand-gradient">{{websiteName}}</span><span class="text-primary">.</span>
        </a>

        <div class="d-flex align-items-center">
            <div class="d-block d-md-block d-lg-none me-3">
                <app-theme-toggler />
            </div>

            <div class="d-block d-md-block d-lg-none">
                <button class="navbar-toggler theme-toggle-btn shadow" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" (click)="openMenubar(isMobileMenuOpen())">
                    <!-- <div class="hamburger-icon">
                        <span></span><span></span><span></span>
                    </div> -->
                    @if (isMobileMenuOpen()) {
                    <i class="bi bi-x-lg"></i>
                    } @else {
                    <i class="bi bi-grid-fill"></i>
                    }
                </button>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                @for (link of navLinks; track link.path) {
                <li class="nav-item mx-lg-2" (click)="openMenubar(isMobileMenuOpen())">
                    <a class="nav-link modern-link" routerLinkActive="active" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="link.path">
                        {{ link.label }}
                    </a>
                </li>
                }

                <li class="nav-item ms-lg-4 d-none d-md-none d-lg-block" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav">
                    <app-theme-toggler />
                </li>
            </ul>
        </div>
    </div>
</nav>